8	:root {
	--color-white: #fff;
	--color-light: #f4f4f4;
	--color-dark: #525252;
	--color-black: #141415;
	--color-primary: #f24e1e;
	--color-primary-light: hsl(14, 89%, 53%, 12%);
	--color-success: #29f5a6;
	--color-warning: #ffce31;
	--color-skills: #21ab4f;
	
	
	--transition: all 300ms ease;
	}
	
	* {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	list-style: none;
	box-sizing: border-box;
	text-decoration: none;
	}
	
	::-webkit-scrollbar {
	width: 10px;
	background: hsl(14, 89%, 53%, 12%);
	}
	
	::-webkit-scrollbar-thumb {
	background: #f24e1e;
	}
	
	html {
	font-size: 15px;
	scroll-behavior: smooth;
	}
	
	body {
	background: #fff;
	font-family:'Montserrat', sans-serif;
	color: #525252;
	max-width: 100vw;
	}
	
	h1, h2, h3, h4, h5 {
	color: #141415;
	line-height: 1.2;
	}
	
	h1 {
	font-size: 3.8rem;
	}
	
	h2 {
	font-size: 2.6rem;
	}
	
	h3 {
	font-size: 1.6rem;
	}
	
	h4 {
	font-size: 1.2rem;
	}
	
	h5 {
	font-size: 0.86rem;
	}
	
	p {
	line-height: 1.8;
	}
	
	.container {
	width: 80%;
	margin: 0 auto;
	}
	
	section {
	padding: 10rem 0 7rem;
	max-width: 100vw;
	overflow: hidden;
	}
	
	section h1 {
	text-align: center;
	display: block;
	margin-bottom: 5rem;
	}
	
	img {
	width: 100%;
	}
	
	.btn {
	padding: 1.4rem 3.4rem;
	font-size: 1.1rem;
	color: #141415;
	background: #fff;
	display: inline-block;
	margin: 2rem 0;
	transition: all 300ms ease;
	}
	
	.btn:hover {
	box-shadow: 0 1rem 2rem hsl(14, 89%, 53%, 12%);
	}
	
	.btn-primary {
	background: #f24e1e;
	color: #fff;
	}
	
	nav {
	background: #fff;
	width: 100%;
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	z-index: 2;
	border-bottom: 1px solid #f4f4f4;
	}
	
	nav.show-box-shadow {
	box-shadow: 0 0.6rem 1rem hsl(14, 89%, 53%, 12%);
	border: none;
	}
	
	nav .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	}
	
	nav button {
	display: none;
	}
	
	nav h3 {
	color: #f24e1e;
	}
	
	nav .container ul {
	display: flex;
	height: 100%;
	}
	
	nav .container ul li a {
	height: 100%;
	width: 7rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #141415;
	position: relative;
	transition: all 300ms ease;
	}
	
	nav .container ul li a:hover {
	color: #f24e1e;
	}
	
	nav .container ul li a.active {
	background: #f24e1e;
	color: #fff;
	}
	
	section.landing {
	display: grid;
	place-items: center;
	position: relative0;
	top: 5rem;
	padding-bottom: 14rem;
	}
	
	section.landing .container {
	display: grid;
	grid-template-columns: 5rem auto 28rem;
	gap: 2rem;
	}
	
	section.landing .socials {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	margin-top: 5rem;
	}
	
	section.landing .socials a {
	font-size: 1.1rem;
	background: #f4f4f4;
	color: #525252;
	padding: 0.3rem;
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 300ms ease;
	}
	
	section.landing .socials a:hover {
	background: #f24e1e;
	color: #fff;
	}
	
	section.landing .info h1 {
	text-align: left;
	margin: 0;
	}
	
	section.landing h3 {
	margin: 2.4rem 0 1rem;
	}
	
	section.landing .info p {
	width: 35rem;
	}
	
	section.landing .profile-area {
	display: flex;
	justify-content: center;
	align-items: center;
	}
	
	section.landing .profile-area .outer-circle {
	width: 26rem;
	height: 26rem;
	border: 1px solid #f24e1e;
	border-radius: 50%;
	position: relative;
	animation: move 30s linear infinite;
	}
	
	@keyframes move {
	to {
	transform: rotate(360deg);
	}
	}
	
	section.landing .profile-area .outer-circle span {
	display: block;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	position: absolute;
	background: #fff;
	color: #f24e1e;
	display: flex;
	justify-content: center;
	align-items: center;
	}
	
	section.landing .profile-area .outer-circle span:nth-child(1) {
	left: calc(50% - 2rem);
	top: -2rem;
	}
	
	section.landing .profile-area .outer-circle span:nth-child(2) {
	right: -2rem;
	top: calc(50% - 2rem);
	}
	
	section.landing .profile-area .outer-circle span:nth-child(3) {
	left: -2rem;
	top: calc(50% - 2rem);
	}
	
	section.landing .profile-area .outer-circle span:nth-child(4) {
	bottom: -2rem;
	left: calc(50% - 2rem);
	}
	
	section.landing .profile-area .inner-circle {
	position: absolute;
	width: 18rem;
	height: 18rem;
	border-radius: 50%;
	overflow: hidden;
	}
	
	section.about {
	background: #f4f4f4;
	}
	
	section.about .container {
	display: grid;
	grid-template-columns: 26rem auto;
	gap: 5rem;
	}
	
	section.about p {
	margin-bottom: 1rem;
	}
	
	section.about .container .read-more-content {
	display: none;
	}
	
	/* toggle read more using JS */
	section.about .container .read-more-content.show-content {
	display: block;
	}
	
	section.about .container .read-more {
	display: block;
	margin: 1rem 0 2rem;
	color: #f24e1e;
	cursor: pointer;
	}
	
	section.about .container .read-more:hover {
	text-decoration: underline;
	}
	
	/* ******************* Skills Section *********************** */
	
	section.skills .container {
	width: 50%;
	}
	
	section.skills .skill {
	margin-bottom: 1rem;
	}
	
	section.skills .skill .head {
	background: #f24e1e;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 1.6rem;
	cursor: pointer;
	}
	
	section.skills .skill .head h4 {
	color: #fff;
	}
	
	section.skills .skill .progress-area {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 1rem;	
	}

	section.skills .item .progress-bar {
	width: 100%;
	height: 1rem;
	background: hsl(14, 89%, 53%, 12%);
	}
	
	section.skills .item .progress-bar .progress {
	width: 90%;
	height: 100%;
	background: #f24e1e;
	}

	section.skills .item .progress-bar .bt-progress {
	width: 40%;
	height: 100%;
	background: #f24e1e;
	}

	section.skills .item .progress-bar .css-progress {
	width: 75%;
	height: 100%;
	background: #f24e1e;
	}

	section.skills .item .progress-bar .js-progress {
	width: 20%;
	height: 100%;
	background: #f24e1e;
	}
	
	section.skills .skill .head .left {
	display: flex;
	align-items: center;
	gap: 1rem;
	}
	
	
	section.skills .items .hover {
	display: none;
	}
	
	section.skills .skill .html {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 1rem;
	padding: 1.6rem;
	background: #f4f4f4;
	margin-bottom: 0.3rem;
	transition: all 300ms ease;
	}
	
	section.skills .skill .html:hover .hover {
	display: flex;
	}
	
	section.skills .skill .html:hover {
	background: #fff;
	}
	
	section.skills .skill .bootstrap {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 1rem;
	padding: 1.6rem;
	background: #f4f4f4;
	margin-bottom: 0.3rem;
	transition: all 300ms ease;
	}
	
	section.skills .bootstrap:hover .hover {
	display: flex;
	}
	
	section.skills .skill .bootstrap:hover {
	background: #fff;
	}
	
	section.skills .skill .css {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 1rem;
	padding: 1.6rem;
	background: #f4f4f4;
	margin-bottom: 0.3rem;
	transition: all 300ms ease;
	}
	
	section.skills .css:hover .hover {
	display: flex;
	}
	
	
	section.skills .skill .css:hover {
	background: #fff;
	}
	
	
	section.skills .skill .javascript {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 1rem;
	padding: 1.6rem;
	background: #f4f4f4;
	margin-bottom: 0.3rem;
	transition: all 300ms ease;
	}
	
	section.skills .javascript:hover .hover {
	display: flex;
	}
	
	
	section.skills .skill .javascript:hover {
	background: #fff;
	}
	
	section.skills .skill .php {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 1rem;
	padding: 1.6rem;
	background: #f4f4f4;
	margin-bottom: 0.3rem;
	transition: all 300ms ease;
	}
	
	section.skills .php:hover .hover {
	display: flex;
	}
	
	
	section.skills .skill .php:hover {
	background: #fff;
	}
	
	section.skills .skill .python {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 1rem;
	padding: 1.6rem;
	background: #f4f4f4;
	margin-bottom: 0.3rem;
	transition: all 300ms ease;
	}
	
	section.skills .python:hover .hover {
	display: flex;
	}
	
	
	section.skills .skill .python:hover {
	background: #fff;
	}
	
	section.skills .skill .sql {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 1rem;
	padding: 1.6rem;
	background: #f4f4f4;
	margin-bottom: 0.3rem;
	transition: all 300ms ease;
	}
	
	section.skills .sql:hover .hover {
	display: flex;
	}
	
	
	section.skills .skill .sql:hover {
	background: #fff;
	}
	
	section.skills .skill .node {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 1rem;
	padding: 1.6rem;
	background: #f4f4f4;
	margin-bottom: 0.3rem;
	transition: all 300ms ease;
	}
	
	section.skills .node:hover .hover {
	display: flex;
	}
	
	
	section.skills .skill .node:hover {
	background: #fff;
	}
	
	section.skills .skill .java {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 1rem;
	padding: 1.6rem;
	background: #f4f4f4;
	margin-bottom: 0.3rem;
	transition: all 300ms ease;
	}
	
	section.skills .java:hover .hover {
	display: flex;
	}
	
	
	section.skills .skill .java:hover {
	background: #fff;
	}
	
	
	section.skills .skill .item {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 1rem;
	padding: 1.6rem;
	background: #f4f4f4;
	margin-bottom: 0.3rem;
	transition: all 300ms ease;
	}
	
	section.skills .skill .item:hover {
	background: #fff;
	}
	
	/* **************** Services Start ********************* */
	
	section.services {
	background: #f4f4f4;
	}
	
	section.services .container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
	}
	
	section.services .container .service {
	background: #fff;
	padding: 3rem 2rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	cursor: default;
	transition: all 300ms ease;
	}
	
	section.services .container .service:hover {
	box-shadow: 0 3rem 3rem hsl(14, 89%, 53%, 12%);
	}
	
	section.services .container .service span {
	background: #f24e1e;
	width: 4rem;
	height: 4rem;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: #fff;
	}
	
	section.services .container .service:nth-child(2) span {
	background: #ffce31;
	}
	
	section.services .container .service:nth-child(3) span {
	background: #29f5a6;
	}
	
	/* ******************** END OF SERVICES *********************** */
	
	section.testimonials .container {
	width: 44rem;
	}
	
	section.testimonials .carousel {
	display: flex;
	align-items: center;
	flex-direction: column;
	}
	
	section.testimonials .testimonial {
	background: #f4f4f4;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	font-size: 0.9rem;
	margin-bottom: 2rem;
	cursor: pointer;
	}
	
	section.testimonials .testimonial .head {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	}
	
	section.testimonials .testimonial .head .profile-area {
	display: flex;
	gap: 1rem;
	}
	
	section.testimonials .testimonial .head .profile-area .avatar {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	overflow: hidden;
	}
	
	section.testimonials .testimonial .head .stars {
	color: #ef24e1e;
	}
	
	section.testimonials .testimonial .head .stars span {
	font-size: 1.2rem;
	}
	
	
	section.contact {
	background: url(./bgg.jpg) no-repeat center center/cover;
	padding: 0;
	max-width: 100vw;
	}
	
	section.contact .overlay {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	padding: 10rem 0 7rem;
	}
	
	section.contact .container {
	width: 40%;
	}
	
	section.contact .container h1 {
	margin: 0;
	color: #fff;
	}
	
	section.contact .container p {
	text-align: center;
	color: #fff;
	opacity: o.8;
	margin-top: 0.5rem;
	}
	
	section.contact form {
	margin-top: 3rem;
	}
	
	section.contact form textarea {
	height: 10rem;
	}
	
	section.contact form input, section.contact form textarea {
	display: block;
	width: 100%;
	margin: 0.5rem 0;
	padding: 1.6rem;
	border: 1px solid #fff;
	background: transparent;
	transition: all 300ms ease;
	}
	
	section.contact form input:focus, section.contact form textarea:focus {
	background: #fff;
	color: #141415;
	}
	
	section.contact form input::placeholder, section.contact form textarea::placeholder {
	color: #fff;
	}
	
	section.contact form .btn {
	width: 14rem;
	border: none;
	background: #fff;
	color: #141415;
	margin: 2rem auto 0;
	}
	
	section.contact form .btn:hover {
	background: #f24e1e;
	cursor: pointer;
	color: #fff;
	}
	
	/* ************* footer ************** */
	
	footer {
	padding-top: 5rem;
	background: #fff;
	}
	
	footer .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	}
	
	footer .container ul {
	display: flex;
	gap: 3rem;
	}
	
	footer.container ul a {
	color: #525252;
	transition: all 300ms ease;
	}
	
	footer.container ul a:hover {
	color: #f24e1e;
	}
	
	footer .copyright {
	background: #f24e1e;
	color: #fff;
	text-align: center;
	margin-top: 5rem;
	padding: 2rem 0;
	font-size: 0.8rem;
	}
	
	/************* Media Queries *******************/
	
	@media screen and (max-width: 600px){
	body {
	
	}
	h1 {
	font-size: 2.2rem;
	}
	
	h2 {
	font-size: 1.6rem;
	}
	
	h3 {
	font-size: 1.2rem;
	}
	
	h4 {
	font-size: 1rem;
	}
	
	h5 {
	font-size: 0.68rem;
	}
	
	nav h3 {
	margin-left: 1rem;
	}
	
	nav .container {
	width: 100%;
	}
	
	nav .container ul {
	position: fixed;
	top: 0;
	flex-direction: column;
	z-index: 3;
	width: 16rem;
	background: #fff;
	box-shadow: 1rem 0 2rem hsl(14, 89%, 53%, 12%);
	display: none;
	}
	
	nav ul li {
	height: 4.6rem;
	width: 100%;
	}
	
	nav .container ul li a {
	width: 100%;
	justify-content: start;
	padding-left: 2rem;
	}
	
	nav .container ul li a:hover {
	padding-left: 3rem;
	}
	
	nav button {
	display: inline-block;
	cursor: pointer;
	background: transparent;
	color: #141415;
	margin-right: 1rem;
	}
	
	nav button#close-btn {
	display: none;
	}
	
	
	section.landing {
	margin-top: -4rem;
	padding-bottom: 7rem;
	max-width: 100vw;
	overflow-x: hidden;
	}
	
	section.landing .container {
	grid-template-columns: 1fr;
	grid-template-rows: 20% 50%;
	text-align: center;
	row-gap: 6rem;
	}
	
	section.landing .container .socials {
	display: none;
	}
	
	section.landing .container .info {
	width: 90%;
	margin: 0 auto;
	}
	
	section.landing .container .info h1 {
	text-align: center;
	}
	
	section.landing .container .info p {
	margin: 0 auto;
	width: 92%;
	}
	
	section.landing .container .profile-area {
	grid-row: -10;
	width: 94%;
	margin: 0 auto;
	}
	
	section.landing .container .outer-circle {
	width: 16rem;
	height: 16rem;
	}
	
	section.landing .container .inner-circle {
	width: 10rem;
	height: 10rem;
	}
	
	section.landing .container .outer-circle span {
	width: 3rem;
	height: 3rem;
	}
	
	section.landing .profile-area .outer-circle span:nth-child(1) {
	left: calc(50% - 1.5rem);
	top: -1.5rem;
	}
	
	section.landing .profile-area .outer-circle span:nth-child(2) {
	right: -1.5rem;
	top: calc(50% - 1.5rem);
	}
	
	section.landing .profile-area .outer-circle span:nth-child(3) {
	left: -1.5rem;
	top: calc(50% - 1.5rem);
	}
	
	section.landing .profile-area .outer-circle span:nth-child(4) {
	bottom: -1.5rem;
	left: calc(50% - 1.5rem);
	}
	
	
	section.about .container {
	grid-template-columns: 1fr;
	gap: 1rem;
	text-align: center;
	}
	
	
	section.skills .container {
	width: 94%;
	}
	
	
	section.services .container {
	grid-template-columns: 1fr;
	}
	
	
	section.testimonials .container {
	grid-template-columns: 1fr;
	width: 94vw;
	}
	
	section.testimonials .testimonial .head .profile-area .avatar {
	width: 3.5rem;
	weight: 2.45rem;
	border-radius: 50%;
	overflow: hidden;
	}
	section.testimonials .container .testimonial .head .stars span {
	font-size: 0.8rem;
	}
		
		
	section.contact .container {
	width: 94vw;
	}
		
	section.contact .container p {
	width: 80vw;
	margin: 0.5rem auto 0;
	}
		
	footer .container {
	flex-direction: column;
	gap: 3rem;
	}
		
	footer .container ul {
	flex-direction: column;
	text-align: center;
	gap: 1.4rem;
	}
	}